body {
  background-image: url(backPhoto.jpg);
  -o-background-size: 100%;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  display: flex;
  justify-content: center;
}

.cv {
  width: 50%;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  height: 30%;
}

.round {
  border-radius: 400px; /* Радиус скругления */
  box-shadow: 0 0 7px #666; /* Параметры тени */
}

.name {
  color: rgb(255, 255, 255);
  margin-left: 10%;
}

.text {
  color: rgb(255, 255, 255);
}

.number {
  margin-left: 55px;
  margin-bottom: -4px;
  margin-top: -4px;
}

.git {
  box-shadow: 0 0 7px #666; /* Параметры тени */
}

.rss {
  height: 120px;
  width: 150px;
  float: left;
}

.round2 {
  border-radius: 50px; /* Радиус скругления */
  box-shadow: 0 0 7px #666; /* Параметры тени */
}
